@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
html, body{
    height:100%;
    width:100%;
    font-family: 'Roboto', sans-serif;
}
.header{
    position:sticky;
    top:0;
    background: white;
}
.left img{
    width:100px;
    height:55px;
}
.container{
    padding: 0 10vw;
    margin: auto;
}

nav ul li{
    list-style: none;
    padding: 0 12px;
}
.section1{
    background: #c7c7c7;
    height: 122vh;
}